.b{
    border: 1px red solid;
}
.body{
    font-family: 'Montserrat', sans-serif;
  }
.shadowCustom {
    -webkit-box-shadow: 0px 50px 50px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 50px 50px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 50px 50px 0px rgba(0,0,0,0.2);
}
.roundBtn{
    z-index: 9999;
    border-radius: 100% !important;
    height: 40px;
    width: 40px;
    background-color: #8D8D8D;
}
.roundIcon{
    border-radius: 100% !important;
    padding: 10px 20px !important;
    height: 100px;
    width: 100px;
} 
.leaveBtn{
    background-color: transparent !important;
    border: 0px;
    height: 10px;
}
.timerOverlay{
    z-index: 9901;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.50);
}
.timerCounter{
    z-index: 9555;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 50%);
    color: white;
}
button{
    border : none !important;
}
.time{
    font-size: 15em;
}

.level{
    position: absolute;
    top: 50px;
    left: 20px;
}
.block-color {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-box {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
  }
  .reset{
      z-index: 9999;
      position: absolute;
      top: 0%;
      right: 10%;
  }

.wrapperCustom{
    overflow: hidden;
}
